* {
    font-family: Arial;
    margin: 0 2%;
}

.logo{
    color: #D8B8FF;
    font-family: 'Jaldi', sans-serif;
    font-size: 64px;
    padding-left: 11%;
    padding-top: 4%;
}

.header-section {
    background-image: linear-gradient(to left, #716ECC, #141240 65%);
    display: flex;
    border-bottom: 5px solid #2d0924;
    height: 20vh;
}

.hero-section {
    background: #FFFFFF;
    display: flex;
    box-shadow: inset 0px 60px 20px -5px rgba(0, 0, 0, 0.3);
    height: 80vh;
}

.info-section {
    padding: 20% 50px;
    text-align: center;
}

#name-surname {
    font-size: 3.33vw;
    width: 100%;
}

#dp-grupa {
    font-size: 1.46vw;
    width: 100%;
}


#info-button {
    background-image: linear-gradient(to right, #150B8D, #2E00D4, #150B8D);
    color: #FFFFFF;
    border: none;
    border-radius: 1.56vw;
    cursor: pointer;
    font-size: 1.15vw;
    width: 13.02vw;
    height: 1.82vw;
    text-align: center;
    margin-top: 1vw;
}


#icon {
    width: auto;
    height: 60vh;
    margin: 6vw 1vw 5vw 12vw;
}


.circles {
    position: relative;
}

#circle1 {
    width: 13vw;
    top: -16.4vw;
    left: -7.8vw;
}

#circle2 {
    width: 15vw;
    top: -18.2vw;
    left: -13vw;
}

#circle3 {
    width: 15vw;
    top: -8.9vw;
    left: -28.6vw;
    filter: blur(4);
}

#circle4 {
    width: 15vw;
    top: -16.4vw;
    left: 5.2vw;
}

.divider-section {
    background-image: linear-gradient(to left, #716ECC, #141240 65%);
    display: flex;
    border-top: 5px solid #2d0924;
    border-bottom: 5px solid #2d0924;
    height: 10vh;
}

.divider-section2 {
    background-image: linear-gradient(to left, #716ECC, #141240 65%);
    display: flex;
    border-top: 2px solid #2d0924;
    border-bottom: 2px solid #2d0924;
    height: 3vh;
}

.main-section {
    background: #FFFFFF;
    box-shadow: inset 0px 60px 20px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 40vh;
}

#main-header {
    padding: 4.5%;
    padding-bottom: 2%;
}

#main-paragraph {
    font-family: 'Kanit';
    font-size: 1.67vw;
    margin: 0 auto;
    width: 60vw;
}

.screenshots-section {
    background: #FFFFFF;
    text-align: center;
    height: 32vh;
}

.download-section {
    background: #FFFFFF;
    box-shadow: inset 0px 60px 20px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 20vh;
}

.guide-section {
    background: #FFFFFF;
    box-shadow: inset 0px 60px 20px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 46vh;
}

.footer-section {
    background: #8972cb;
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

.nav-button {
    background-image: linear-gradient(to right, #150B8D, #2E00D4, #150B8D);
    color: #FFFFFF;
    border: 0.156vw solid black;
    border-radius: 1.56vw;
    cursor: pointer;
    font-size: 1.15vw;
    width: 7.55vw;
    height: 2.34vw;
    text-align: center;
}

.nav-button:hover {
    background: #1abc9c;
}

nav {
    width: 80vh;
    padding-left: 10%;
    padding-top: 6%;
}