* {
    font-family: Arial;
    margin: 0 2%;
}

.logo{
    color: #EAD8FF;
    font-family: 'Jaldi', sans-serif;
    font-size: 64px;
    padding-left: 11%;
    padding-top: 4%;
}

.header-section {
    background-image: linear-gradient(to left, #716ECC, #141240 65%);
    display: flex;
    border-bottom: 5px solid #2d0924;
    max-width: 96%;
    height: 20vh;
}

.hero-section {
    background: #FFFFFF;
    display: flex;
    box-shadow: inset 0px 60px 20px -5px rgba(0, 0, 0, 0.3);
    height: 80vh;
}

.info-section {
    padding: 20% 50px;
    text-align: center;
}

#name-surname {
    font-size: 3.33vw;
    width: 100%;
}

#dp-grupa {
    font-size: 1.46vw;
    width: 100%;
}


#info-button {
    background-image: linear-gradient(to right, #150B8D, #2E00D4, #150B8D);
    color: #FFFFFF;
    border: none;
    border-radius: 1.56vw;
    cursor: pointer;
    font-size: 1.15vw;
    width: 13.02vw;
    height: 1.82vw;
    text-align: center;
    margin-top: 1vw;
}

#icon {
    width: 500px;
    height: 500px;
    margin: 6vw 1vw 5vw 12vw;
}

.circles {
    position: relative;
    z-index: -1;
}

#circle1 {
    width: 13vw;
    top: -16.4vw;
    left: -7.8vw;
}

#circle2 {
    width: 15vw;
    top: -18.2vw;
    left: -13vw;
}

#circle3 {
    width: 15vw;
    top: -8.9vw;
    left: -28.6vw;
    filter: blur(4);
}

#circle4 {
    width: 15vw;
    top: -16.4vw;
    left: 5.2vw;
}

.divider-section {
    background-image: linear-gradient(to left, #716ECC, #141240 65%);
    display: flex;
    border-top: 5px solid #2d0924;
    border-bottom: 5px solid #2d0924;
    height: 10vh;
}

.divider-section2 {
    background-image: linear-gradient(to left, #716ECC, #141240 65%);
    display: flex;
    border-top: 2px solid #2d0924;
    border-bottom: 2px solid #2d0924;
    height: 3vh;
}

.main-section {
    box-shadow: inset 0px 60px 20px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 40vh;
    position: relative;
}

.main-section::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: -2;
}

#main-header {
    padding: 4.5%;
    padding-bottom: 2%;
    font-weight: 100;
    letter-spacing: 0.2em;
}

#main-paragraph {
    font-family: 'Kanit';
    font-size: 1.67vw;
    margin: 0 auto;
    width: 60vw;
}

.screenshots-section {
    background: #FFFFFF;
    text-align: center;
    height: 32vh;
}

.screenshots {
    width: 450px;
    height: auto;
    border: 2px solid black;
    margin: 1vw 1vw;
    background-color: red;
}

.download-section {
    background: #FFFFFF;
    box-shadow: inset 0px 60px 20px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 20vh;
}

#download-header {
    padding-top: 2.2vw;
    letter-spacing: 0.2em;
    font-weight: 100;
}

#download-button {
    background-image: linear-gradient(to right, #150B8D, #2E00D4, #150B8D);
    color: #FFFFFF;
    border: 0.2vw solid black;
    border-radius: 1.56vw;
    cursor: pointer;
    font-size: 1.15vw;
    width: 30vw;
    height: 2.2vw;
    text-align: center;
    margin-top: 1.8vw;
}

.guide-section {
    background: #FFFFFF;
    box-shadow: inset 0px 60px 20px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 46vh;
    display: flex;
    padding-left: 10vw;
    padding-top: 5vw;
}

.list-container {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 38px;
}

.guide-list {
    padding: 10px;
    list-style-type: none;
    font-size: 26px;
    text-align: left;
}

.footer-section {
    background-image: linear-gradient(to left, #716ECC, #141240 65%);
    border-top: 5px solid #2d0924;
    height: 14vh;
    text-align: center;
}

#footer-paragraph {
    color: #EAD8FF;
    font-family: 'Inter';
    font-size: 1.5vw;
    padding-top: 4%;
}

.nav-button {
    background-image: linear-gradient(to right, #150B8D, #2E00D4, #150B8D);
    color: #FFFFFF;
    border: 0.156vw solid black;
    border-radius: 1.56vw;
    cursor: pointer;
    font-size: 1.15vw;
    width: 8.1vw;
    height: 2.34vw;
    text-align: center;
}

.nav-button:hover, #info-button:hover, #download-button:hover{
    background: #1abc9c;
}

nav {
    width: 80vh;
    padding-left: 10%;
    padding-top: 6%;
}

@media only screen and (max-width: 1300px) {
    #icon {
        width: 300px;
        height: 300px;
    }
}
